// include config file with parameters 
includeConfig "${projectDir}/params.config"

profiles {
    standard {
            process {
                executor = 'local'
                withLabel: "low" {
                    cpus='1'
                    memory = '1G'
            }
                withLabel: 'high' {
                    cpus="4"
                    memory= "4G"
            }
        }
    }
    apptainer {
            apptainer{
                enabled = true
                autoMounts = true
                //Note that the cache directory should be changed based on desired path
                cacheDir = "/home/ditjacobs/Prog/nextflow/.apptainer_cache"
                pullTimeout = "30m"
            }
    }
    docker {
        //enabling docker 
            docker.enabled = true 
            docker.runOptions = '-u $(id -u):$(id -g)'
    }
 
}